<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1>Popular Users</h1>
			<p class="lead">Most Active users</p>
			<%= render partial: 'users/user', collection: @users %>
			<%= will_paginate @users %>
		</div>
	</div>
</div>