<h1>All Posts</h1>
<% @posts.each do |post| %>
  <div class="media">
  	<div class="media-body">
  		<h4 class="media-head">
  			<p><%= link_to post.title, post %></p>
  		</h4>
  		<small>
  			submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br />
  			<%= post.comments.count %> Comments
  		</small>
  	</div>
  </div>
<% end %>