<div class="container">
	<h1>Add a New Post</h1>
	<div class="row">
		<div class="col-md-12">
	  	<%= render partial: 'form', locals: { topic: @topic, post: @post } %>
	  </div><!-- col-md-12 --> 
	</div><!-- row --> 
</div>