<h1><%= markdown @post.title %></h1>

<% if policy(@post).edit? %>
	<%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
<% end %>

<p><%= markdown @post.body %></p>

	
