h1 {
	color: red;
}

p#index-title {
	text-align: center;
	font-size: 2em;
	color: blue;
}

.posts {
	border: 1px solid;
	margin: 5px;
	padding: 5px;
	height: 200px;
}

section {
	background: #5998ff;
	border: 5px solid;
	margin: 5px;
	padding: 5px;
}
