@import "bootstrap";

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic);

/* Colors */
$blue: 					#75A3D1 !default;
$green: 				#16A79D !default;
$red: 					#FF606E !default;
$white: 				#fafafa !default;
$black: 				#333333 !default;
$text: 					#58595b !default;
$lightGray: 		#f0f0f0 !default;

/* Mixins */
@mixin border-radius ($px) {
	-webkit-border-radius: $px;
	-moz-border-radius: $px;
	border-radius: $px;
}

@mixin transition ($seconds) {
	-webkit-transition: $seconds;
	-moz-transition: $seconds;
	-o-transition: $seconds;
	transition: $seconds;
}

@mixin ghost-button ($color, $font, $seconds-off, $seconds-on) {
	border: 2px solid $color;
	@include border-radius(2px);
	padding: 1em 3em;
	display: inline-block;
	margin: 2em 0;
	font-size: $font;
	@include transition ($seconds-off);
	&:hover {
		text-decoration: none;
		background-color: $color;
		color: $white;
		@include transition ($seconds-on);
	}
}

@mixin button ($color, $px, $font, $seconds-off, $seconds-on) {
	background-color: $color;
	@include border-radius($px);
	padding: 1em 3em;
	display: inline-block;
	margin: 2em 0;
	font-size: $font;
	@include transition ($seconds-off);
	&:hover {
		text-decoration: none;
		background-color: darken($color, 10%);
		color: $white;
		@include transition ($seconds-on);
	}
}

@mixin image ($image) {
	background-image: image-url($image);
	width: 100% !important;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: 50% 50%;
}

@mixin font-smoothing ($value: on) {
  @if $value == on {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  @else {
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
  }
}
/* Usage
	.dark-background-on-light-text {
    @include font-smoothing(off);
	}

	.light-on-dark {
    @include font-smoothing(on);
	} */


/* Site-Wide Modification
================================================== */
::-moz-selection { 
	color: $white;  
	background: $blue !important; 
}
::selection { 
	color: $white;  
	background: $blue !important; 
}

.alert {
	margin-bottom: 0;
	padding: 1.5em 2em;
	border: none;
	@include border-radius(0px);
	font-size: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	@include font-smoothing(on);
}
.alert-success {
	background-color: $green;
	color: $white;
}
.alert-info {
	background-color: $blue;
	color: $white;
}
.alert-warning {
	background-color: $lightGray;
	color: $red;
}
.alert-danger {
	background-color: $red;
	color: $white;
}

#body {
	font-family: 'Source Sans Pro', 'sans-serif';
	color: $text;
	p {
		font-size: 1.1em;
		line-height: 1.3em;
	}
}

/* Forms
================================================== */
#form {
	h2 {
		color: $text;
		font-size: 2em;
		line-height: 1.6em;
		text-align: center;
		padding-top: 2em;
		font-family: 'Source Sans Pro', sans-serif;
		text-transform: uppercase;
	}
	h3 {
		color: $text;
		font-size: 2em;
		font-family: 'Source Sans Pro', sans-serif;
	}
	i {
		color: $text;
		font-family: 'Source Sans Pro', sans-serif;
	}
	p {
		padding: 4em 0 0;
		color: $text;
		font-size: 2em;
		line-height: 1.6em;
		text-align: center;
	}
	label {
		margin-top: 2em;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.5em;
		line-height: 1.4em;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		background: $lightGray;
		height: 50px;
		box-shadow: none;
		font-size: 1.3em;
		line-height: 1.4em;
		font-family: 'Source Sans Pro', sans-serif;
		color: $text;
		border: none;
		@include border-radius (0px);
		width: 100%;
		margin: .5em 0;
		padding-left: .5em;
		@include transition (.4s);
		&:focus {
			border: 2px solid $blue;
			box-shadow: none;
			@include transition (.4s);
		}
	}
	textarea {
		height: 12em;
		padding: 1em;
	}
	input[type="submit"] {
		@include button ($blue, 1px, 1.3em, .4s, .4s);
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: none;
		font-family: 'Source Sans Pro', sans-serif;
		text-transform: uppercase;
		margin-top: 2em;
	}
}

/* Navbar
================================================== */
nav.navbar {
	background-color: $lightGray;
	border: none;
	@include border-radius(0);
	font-family: 'Source Sans Pro', 'sans-serif';
	@include transition (.4s);
	li.nav a {
		padding: 2.5em 1.5em;
		margin: 0 .25em;
	}
	#top-nav {
		li.nav.active a {
			background-color: $blue;
			color: $white;
		}
	}
	a.navbar-brand, ul.nav a {
		color: $text;
		top: 0px;
		&:hover, &:active {
			@include transition (.4s);
			background-color: $blue;
			color: $white;
		}
	}
	#logo {
		background-color: $green;
		padding: 1em;
		@include border-radius(50%);
		margin: 1em 2em;
		line-height: .4em;
		color: $white;
		font-size: 1.5em;
		@include transition (.4s);
		&:hover {
			background-color: darken($green, 10%);
			@include transition (.4s);
		}
	}
}


/* Home Page
================================================== */

/* Home page header */
div.home-header {
	@include image ('open-to-learning.jpg');
	padding: 10em 0;
	.intro-text {
		padding: 1em;
		color: $black;
		text-align: center;
	}
	h1 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 3em;
		padding-bottom: .5em;
	}
	h2 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.5em;
		padding-bottom: .75em;
	}
	a.ghost-button {
		@include ghost-button($green, 1.5em, .4s, .3s);
		color: $white;
	}
}

/* Home Page Content */
#home-content-explanation {
	font-family: 'Source Sans Pro', sans-serif;
	color: $text;
	padding: 3em 0 10em 0;
	h3 {
		margin-top: 0;
		font-size: 2em;
		padding-bottom: .3em;
	}
	p {
		font-size: 1.3em;
		line-height: 1.8em;
	}
	a {
		color: $blue;
		font-size: 1.2em;
		line-height: 1.8em;
		display: inline-block;
		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 0;
			background: transparent;
			transition: width .5s ease, background-color .5s ease;
		}
		&:hover:after {
			width: 100%;
			background: $blue;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.calendar, .feedback, .topics {
		padding: 8em 0;
	}
	.calendar-wrapper {
		background-color: $blue;
		@include border-radius(2px);
	}
	.feedback-wrapper {
		background-color: $green;
		@include border-radius(2px);
	}
	.topics-wrapper {
		background-color: $red;
		@include border-radius(2px);
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 150px;
		max-height: 150px;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
}

/* Call to Action Strip */
#home-call-to-action-strip {
	background-color: $lightGray;
	padding: 5em 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	p {
		color: $text;
		padding-top: .5em;
	}
	a {
		@include button($blue, 1px, 1em, .4s, .4s);
		color: $white;
		margin: 0;
	}
}

/* Footer
================================================== */
div.footer {
	background-color: $green;
	color: $white;
	text-align: center;
	padding: 2em 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	p {
		margin-bottom: 0;
	}
}
