<div class="container" id="body">
	<div class="row">
		<h1>All Suggestions</h1>
		<% @suggestions.each do |s| %>
			<p>
				<%= link_to s.title, s %>
				<small>
					submitted <%= time_ago_in_words(s.created_at) %> ago by 
				</small>
			</p>
				
		<% end %>
	</div>
</div>