<%= render partial: 'layouts/flash' %>

<div class="home-header">
	<div class="container">
		<div class="intro-text">
			<h1>Bloccit</h1>
			<h2>Bloccit is a resource for sharing links with your friends!</h2>
			<%= link_to "See What's Popular", posts_path, class: "ghost-button" %>
		</div>

	</div>

</div><!-- .home-header -->