<%= render partial: 'layouts/flash' %>

<div class="home-header">
	<div class="container">
		<div class="intro-text">
			<h1>Make Your Website More Successful</h1>
			<h2>Get tips, tricks, training, and resources to help you succeed.</h2>
			<%= link_to "I'm Interested, Tell Me More", new_user_registration_path %>
		</div>

	</div>

</div><!-- .home-header -->


<!--
	<h1>Got a Business Idea?</h1>
	<h2>Put it up online.  I'll show you how.</h2>
-->
